<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-file-o"></i>Add New Content
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your Title">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="thumbnailPath">Thumbnail</label>
                <input type="text" class="form-control" id="thumbnailPath" placeholder="Enter Thumbnail path">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="objectType">Type</label>
                <select class="form-control" id="objectType" placeholder="Enter your Title">
                  <option>1</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="filePath">File / Folder</label>
                <input type="text" class="form-control" id="filePath" placeholder="Enter file/folder path">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Decription</label>
                  <textarea class="form-control" id="description" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Add New Content</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Local Content
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Hash</th>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hash</td>
                <td>Name</td>
                <td>Size</td>
                <td>Type</td>
                <td>Actions</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>