
    <div class="panel panel-primary">
        <div class="panel-heading">Actions</div>
        <div class="panel-body text-center">
            <a class="btn blue btn-sm">Client Settings</a>
            <a class="btn blue btn-sm">IPFS Settings</a>
            <a class="btn blue btn-sm">Add File\Folder</a>
            <a class="btn blue btn-sm">Edit Manifest</a>
            <a class="btn blue btn-sm">Review Peers</a>
        </div>
    </div>

<div class="clearfix"> </div>
<div class="col-md-6 graph-2">
    <div class="panel panel-primary">
        <div class="panel-heading">Client Info</div>
        
            <div class="stats-info graph">
                <div class="stats">
                    <ul class="list-unstyled">
                        <li>Google Chrome
                            <div class="text-success pull-right">12%<i class="fa fa-level-up"></i></div>
                        </li>
                        <li>Firefox
                            <div class="text-success pull-right">15%<i class="fa fa-level-up"></i></div>
                        </li>
                        <li>Internet Explorer
                            <div class="text-success pull-right">18%<i class="fa fa-level-up"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>
</div>
<div class="col-md-6 graph-2 second">
    <div class="panel panel-primary">
        <div class="panel-heading"> Peers/Local storage</div>
        
            <div class="stats-info graph">
                <div class="stats">
                    <ul class="list-unstyled">
                        <li>Google Chrome
                            <div class="text-success pull-right">12%<i class="fa fa-level-up"></i></div>
                        </li>
                        <li>Firefox
                            <div class="text-success pull-right">15%<i class="fa fa-level-up"></i></div>
                        </li>
                        <li>Internet Explorer
                            <div class="text-success pull-right">18%<i class="fa fa-level-up"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        
    </div>
</div>
<div class="clearfix"> </div>


