<div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">{{clientInfo.peerId}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Client Id</div>
        </div>
      </div>
    </div>
    
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">{{clientInfo.peerCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Peers</div>
        </div>
      </div>
    </div>
    
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-hdd-o bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">{{clientInfo.filesStrored}} file(s) / {{humanFileSize(clientInfo.totalFilesSize)}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Local storage</div>
        </div>
      </div>
    </div>
</div>