<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-file-o"></i>Add New Content
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Title</label>
              <input type="text" [(ngModel)]="content.title" class="form-control" id="name" placeholder="Enter your Title">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="thumbnailPath">Thumbnail</label>
              <input type="text" class="form-control" [(ngModel)]="content.thumbnail" id="thumbnailPath" placeholder="Enter Thumbnail path">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="contentType">Type</label>
              <select class="form-control" [(ngModel)]="content.type" id="contentType" placeholder="Enter your Title">
                <option value="0" >File</option>
                <option value="1" >Text</option>
                <option value="2" >Folder</option>
                <option value="3" >Image</option>
                <option value="4" >Video</option>
                <option value="5" >Audio</option>
                <option value="6" >Image List</option>
                <option value="7" >Video List</option>
                <option value="8" >Audio List</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="filePath">File / Folder</label>
              <input type="text" class="form-control" [(ngModel)]="content.resource" id="filePath" placeholder="Enter file/folder path">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description">Decription</label>
                <textarea class="form-control" [(ngModel)]="content.description" id="description" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="addContent()" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Add New Content</button>
      </div>
    </div>
  </div>
</div>
