<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/home']">Dashboard</a>
    </li>
    <li class="nav-item px-3" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/files']">Local Storage</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    
  </ul>
</header>
